<br>
<div class="d-flex justify-content-center">
    <h1>Create a new cocktail</h1>
</div>
<br><br>
<div class="d-flex justify-content-center">
    <%= render "form", cocktail: @cocktail %>
</div>
<br><br>
<div class="d-flex justify-content-center">
    <%= link_to "Back to Home", root_path  %>
</div>
